<p>search works!</p>



<div>
  <label for="">filterBy :</label>
  <select class="custom-select-sm" [(ngModel)]="selectedItem" (change)="selected()">
    <option value={{item}} *ngFor="let item of items; index as i;"> {{item}}</option>

  </select>

  <div [ngSwitch]="selectedItem">
    <div *ngSwitchCase="'userId'">
      <label for="">Enter text</label>
      <input type="text" [(ngModel)]='userId'>

      <button class="btn btn-md btn-secondary btn-style" (click)="getlist(userId)">Get Transactions</button>
    </div>
  </div>
  <div [ngSwitch]="selectedItem">
    <div *ngSwitchCase="'accountNumber'">
      <label for="">Enter text</label>
      <input type="text" [(ngModel)]='accountNumber'>

      <button class="btn btn-md btn-secondary btn-style" (click)="getlistbyaccountnumber(accountNumber)">Get
        Transactions</button>
    </div>
  </div>


  <div [ngSwitch]="selectedItem">
    <div *ngSwitchCase="'date'">
      <label for="">start Date</label>
      <input type="date" [(ngModel)]='startDate'>
      {{startDate}}

      <label for="">End Date</label>
      <input type="date" [(ngModel)]='endDate'>

      {{endDate}}

      <button class="btn btn-md btn-secondary btn-style" (click)="getBydate(startDate,endDate)">Get
        Transactions</button>
    </div>
  </div>
</div>




<table class="table table-striped" *ngIf="trasactionlist">
  <thead>
    <tr>

      <th>Transactionid</th>
      <th>userId</th>
      <th>ammount</th>
      <th>toName</th>
      <th>toAccountNumber</th>
      <th>date</th>
      <th>balance</th>

    </tr>
  </thead>
  <tbody *ngFor="let t of trasactionlist; let i = index">
    <tr>

      <td>{{t.tId}}</td>
      <td>{{t.id}}</td>
      <td>{{t.ammount}}</td>
      <td>{{t.toName}}</td>
      <td>{{t.toAccountNumber}}</td>
      <td>{{t.date}}</td>
      <td>{{t.balance}}</td>

    </tr>

  </tbody>
</table>




<div>

  <button class="btn btn-md btn-secondary btn-style" (click)="getTransactions()">Get Transactions</button>

</div>