<p>transaction works!</p>
<div>

  FromAccount <input [(ngModel)]="fromAccountNumber" type="text" class="form-control" name="fromAccountNumber"
    placeholder="Enter fromAccountNumber" fromAccountNumber required>
  ToAccount<input [(ngModel)]="toAccountNumber" type="text" class="form-control" name="toAccountNumber"
    placeholder="Enter toAccountNumber" toAccountNumber required>
  Ammount
  <input [(ngModel)]="ammount" type="number" class="form-control" name="ammount" placeholder="Enter Ammount" ammount
    required>
  <button class="btn btn-md btn-primary btn-style"
    (click)="transaction(fromAccountNumber,toAccountNumber,ammount)">transact</button>


</div>